<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body class="container">
    <h1 class="header">Mundo</h1>
    <a href="/countries/new">Add Country</a>
    <ul>
        <% country.forEach(country=> { %>
            <li>
                <a href="/countries/<%=country._id%>"><%=country.name; %></a></br>
                <a href="/countries/<%=country._id%>"><img src="<%=country.img%>" alt=""></a></br>
                
            </li></br>
            <% }) %>
    </ul>
</body>
</html>