<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>New Country</h1>
    <main>
    <a href="/countries">Home</a></br>
    <form action="/countries" method="POST">
        Name: <input type="text" name="name"></br>
        Flag Image: <input type="text" name="img"></br>
        Capital: <input type="text" name="capital"></br>
        <input type="submit" name="" value="Add Country">

    </form>
</main>
</body>
</html>