/* .nav-header {
    display: flex;
    flex-direction: row;
    transform-origin: right;
} */

/* INDEX */
body {
    background-image: url(https://i.imgur.com/4gL9tVr.jpeg);
    /* height: 100vh;
    max-height: 700px;
    width: 100vw;
    align-items: flex-start; */
    background-size: cover;
}

.title-header {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.country-list {
    list-style: none;
}

nav {
    list-style: none;
}

/* SHOW */
main{
  width: 80%;
  margin: 0 auto;
  padding: 1em 3em;
  box-sizing: border-box;
  background: #f9f9f9;
  border-radius: 1em;
  text-align: center;
  box-shadow: 1px 1px 5px #888;
  display: flex;
  justify-content: space-between;
  
}

.show-main{
    display: flex;
    flex-direction: column;
}



ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    width: 200px;
    height: 100 px;
    border-radius: 16px;
}